<footer class="footer-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="footer-company-name">Tüm Hakları Network Akademi 103 Sabah sınıfına aittir. İzinsiz hacılamak yasaktır. &copy; 2021 <a href="#">MHRSLite</a></p>
            </div>
        </div>
    </div>
</footer>